*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(13, 155, 202);
    padding: 2vw 0;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 400;
    
}
body{
    overflow-x: hidden;
}